.vscode

# Dune outputs
_build
*.opam

# Generated Rocq files
theories/**/Parser.v

# Rocq compiler outputs
*.vo
*.glob
*.d
.*.aux
*.vio
*.vok
*.vos
.lia.cache
RocqMakefile.mk*
!RocqMakefile.mk.local
!RocqMakefile.mk.local-late
*.log
theories/html/

# Generated Rocq dependency graph
dep.dot
dep.html

# Editor related files
## Emacs
*.~undo-tree~
